<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= producto.nombre %> - Detalle</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  <link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css" />
  <link rel="stylesheet" href="/stylesheets/app.css" />
</head>
<body>
  <!-- Header -->
  <%- include('partials/header') %>
  <!-- Header -->

  <!-- Detalle del producto -->
  <div class="container products-wrapper">
    <div class="row">
      <div class="col-12">
        <h2 class="products-title"><%= product.nombre %></h2>
      </div>

      <div class="col-12 col-lg-8">
        <section class="product-box">
          <figure class="product-box_image">
            <img src="/images/products/<%= product.imagen %>" alt="<%= product.nombre %>" class="product-detail-img" />
          </figure>
          <article class="product-box_data">
            <p><%= product.descripcion %></p>
          </article>
        </section>
      </div>

      <div class="col-12 col-lg-4">
        <h4>Comentarios</h4>
        <section class="comments">
          <% for (let i = 0; i < product.comentarios.length; i++) { %>
            <article class="comment">
              <img src="/images/users/def_user.jpg" alt="avatar" width="35" height="35">
              <div class="data">
                <p class="user">
                  <strong>Usuario <%= product.comentarios[i].usuarioId %>:</strong>
                  <%= product.comentarios[i].texto %>
                </p>
              </div>
            </article>
          <% } %>
        </section>

        <form class="form mt-3" action="" method="POST">
          <input class="form-input" type="text" name="comentario" placeholder="Agregar comentario">
          <button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
        </form>
        <hr>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <%- include('partials/footer') %>
  <!-- Footer -->
</body>
</html>
